* {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1f2937;
  color: white;
  margin: 0 -0.5em;
  display: flex;
  justify-content: space-between;
  padding: 1em 9em;

}

.header-links {
  display: flex;
  gap: 30px;
}

.header-links > a {
  color: #e5e7eb;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section-1, .section-2, .section-3, .section-4 {
  flex: 1;
  margin: 0 -0.5em;
}

.section-1 {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 5em 9em;
  gap: 3em;
}

.hero {
  flex: 1;
}

.s1-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.s1-title-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.s1-button {
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
}

.s1-img {
  background-color: slategray;
  flex: 1;
}

.s2-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.s2-imgs {
  display: flex;
  margin: 3em 15em 7em 15em;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
  margin: 0;
}

.fig {
  border: 3px solid #3882f6;
  border-radius: 15px;
  padding: 3em;
}

.section-3 {
  background-color: #e5e7eb;
  padding: 7em;
}

.s3-quote {
  display: flex;
  flex-direction: column;
  padding: 0 7em;
}

blockquote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

cite {
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.section-4 {
  display: flex;
}

.section-4-1 {
  background-color: #3882f6;
  border-radius: 15px;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 7em 13em;
  padding: 3em 7em;
}

.s4-title {
  font-size: 18px;
  font-weight: bold;
}

.s4-button {
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: bold;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  margin: 0 -0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
